{%  extends 'base.html' %}

{% block content %}
    <h1>Editing Profile</h1>
    <br>

    <div class="form-group">
        <form method="post">
            {% csrf_token %}
            {% for f in user_form %}
                <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
                <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
            {% for f in profile_form %}
                <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
                <div class="form-error">{{ f.errors }}</div>
            {% endfor %}



            <br>
            <button class="btn btn-secondary" style="margin-left: 60px">Save</button>
        </form>
        <form action="{% url 'profile' user.profile.id %}" style="margin-top: -34px">
        <button class="btn">Back</button>
    </form>
    </div>
{% endblock %}