{%  extends 'base.html' %}

{% block content %}
    <h1>Editing Profile</h1>
    <br>

    <div class="form-group">
        <form method="post">
            {% csrf_token %}
            {% for f in user_form %}
                <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
                <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
            {% for f in profile_form %}
                <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
                <div class="form-error">{{ f.errors }}</div>
            {% endfor %}

            <br>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button class="btn btn-dark">Save</button>
              <a href="{% url 'profile' user.profile.id %}" class="btn btn-dark">Back</a>
            </div>
        </form>

    </div>
    <br>
{% endblock %}