{% extends 'base.html' %}

{% block content %}
    <div class="container py-5">
        <h1>Registration</h1>
    <br>
        <form method="POST">
            {% csrf_token %}
            {% for f in form %}
                <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
                <div class="form-error">{{ f.errors }}</div>
            {% endfor %}

        <div class="text-end">
            <button class="btn btn-primary" type="submit">Register</button>
        </div>
        </form>
        <br>
        <p class="text-end">If you already have an account, <a href="{% url 'login' %}">LOGIN</a> instead</p>
    </div>

{% endblock %}