{% extends 'base.html' %}

{% block content %}

    <h1>All blogs</h1>
    <hr>
    {% if blogs_list %}
        <ul>
        {% for blog in blogs_list %}
            <li><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a><em>({{ blog.data }})</em> - <strong>By <a href="{% url 'profile' blog.author.profile.id %}">{{ blog.author }}</a></strong></li>
            <p>{{ blog.text| slice:":200" }}... <a href="{{ blog.get_absolute_url }}">Read all</a></p>
        {% endfor %}
        </ul>
    {% else %}
        <p>There are no blogs yet</p>
    {% endif %}
{% endblock %}