{% extends 'base.html' %}

{% block content %}
    {% if blog.author.id != user.id %}
        {{ blog.not_allowed }}
    {% endif %}

    <h1>Deleting Article</h1>

    <p>Are you sure you want to delete: <b>{{ blog.title }}</b>?</p>



    <form action="" method="POST">
        {% csrf_token %}
        <div class="d-grid gap-2 d-md-block">
            <a href="{% url 'blog-detail' blog.id %}" class="btn btn-dark">Back</a>
            <input class="btn btn-dark" type="submit" value="Delete">
        </div>
    </form>

{% endblock %}