{% extends 'base.html' %}

{% block content %}
    <h1>{{ blog.title }}</h1>
    <p><b>Author: {{ blog.author }}</b></p>
    <p><em>{{ blog.data }}</em></p>
    <hr>
    <img src="{{ blog.picture.url }}" class="img-fluid" alt="..." style="margin-top: 10px" />
        <p>{{ blog.text|linebreaks }}</p>
        {% if blog.author.id == user.id %}
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <a href="{% url 'blog-update' blog.id %}" class="btn btn-dark">Edit</a>
              <a href="{% url 'blog-delete' blog.id %}" class="btn btn-dark">Delete</a>
            </div>
        {% endif %}
    <hr>
    <h3>Comments:</h3>
    {% if user.is_authenticated %}
        <form action="{% url 'comment-create' blog.id %}" method="post" style="margin-top: 20px">
            {% csrf_token %}
            <p><strong>User: {{ user.get_username }}</strong></p>
            {{ comment_form.text }}
            <br/>
            <div class="text-end">
                <input class="btn btn-dark" type="submit" value="Publish" />
            </div>
        </form>
    <hr>
    {% else %}
        <p><strong><a href="{% url 'login' %}">Login</a> or <a href="{% url 'register' %}">Register</a> to write comment</strong></p>
    {% endif %}
    <div style="margin-top: 20px">
    {% if not blog.comments.all %}
        No Comments Yet...
    {% else %}
        {% for comment in blog.comments.all %}
                <div class="comments" style="padding: 10px">
                    <p class="font-weight-bold">
                        <strong>{{ comment.author }}</strong>
                        <span class="text-muted font-weight-normal">
                            {{ comment.data }}
                        </span>
                    </p>
                    {{ comment.text|linebreaks }}
                </div>
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}